.monster {
    width: 5vw;
}

#survivors {
    top: 10px;
    right: 10px;
}

@media (max-width: 900px) {
    h1, h3, i {
        font-size: 5vw;
        padding: 0 20px;
    }

    .monster {
        width: 12vw;
    }

    #survivors {
        top: initial;
        bottom: 10px;
    }
}